<div class="card-view-single-employee" style="width: 18rem;">
  <div class="card">
    <h3>Single Employee View</h3>
    <label>Employee ID:</label>
    <label class="outputLabel">  {{singleEmployee.employeeId}}</label>
    <label>Employee Name:</label>
    <label class="outputLabel">  {{singleEmployee.name}}</label>
    <label>Employee Manager:</label>
    <label class="outputLabel">  {{singleEmployee.manager}}</label>
    <label>Employee Department:</label>
    <label class="outputLabel">  {{singleEmployee.department}}</label>
    <label>Employee Payrate:</label>
    <label class="outputLabel">  {{singleEmployee.payrate}}</label>
    <label>Employee SSN:</label>
    <label class="outputLabel">  {{singleEmployee.ssn}}</label>
  </div>
</div>
