.outputLabel {
  color: darkblue;
  font-size: 20px;
}

input {
  margin: 1px 10px 5px;
  width: 95%;
}

label {
  margin-left: 5px;
}

button {
  margin: 10px;
  width: 92%;
}

h3 {
  margin-left: 5px;
  margin-top: 10px;
}
