<div class="card-add-employee" style="width: 18rem;">
  <div class="card">
    <h3>Add Employee View</h3>
    <div class="employee-number-form">
      <label for="employeeNumberFormControl">Employee Manager</label>
      <input type="employeeNumber" class="form-control" id="employeeNumberFormControl" placeholder="1234567">
    </div>
    <div class="employee-name-form">
      <label for="employeeNameFormControl">Employee Department</label>
      <input type="employeeName" class="form-control" id="employeeNameFormControl" placeholder="John Wick">
    </div>
    <div class="employee-manager-form">
      <label for="employeeManagerFormControl">Employee Department</label>
      <input type="employeeManager" class="form-control" id="employeeManagerFormControl" placeholder="15.00">
    </div>
    <div class="employee-department-form">
      <label for="employeeDepartmentFormControl">Employee Department</label>
      <input type="employeeDepartment" class="form-control" id="employeeDepartmentFormControl" placeholder="Manufacturing">
    </div>
    <div class="employee-payrate-form">
      <label for="employeePayrateFormControl">Employee Department</label>
      <input type="employeePayrate" class="form-control" id="employeePayrateFormControl" placeholder="15.00">
    </div>
    <div class="employee-ssn-form">
      <label for="employeeSsnFormControl">Employee Department</label>
      <input type="employeeSsn" class="form-control" id="employeeSsnFormControl" placeholder="300204000">
    </div>
    <button type="button" class="btn btn-primary">Add Employee</button>
  </div>
</div>
