.card-edit-employee {
  float: left;
  padding-left: 10px;
}

.employee-manager-form {
  padding: 5px;
}

.employee-department-form {
  padding: 5px 5px 10px;
}

.employee-payrate-form {
  padding: 5px;
}
