<div class="card-edit-employee" style="width: 18rem;">
  <div class="card">
    <h3>Edit Employee View</h3>
    <div class="employee-manager-form">
      <label for="employeeManagerFormControl">Employee Manager</label>
      <input type="employeeManager" class="form-control" id="employeeManagerFormControl" placeholder="John Doe">
    </div>
    <div class="employee-department-form">
      <label for="employeeDepartmentFormControl">Employee Department</label>
      <input type="employeeDepartment" class="form-control" id="employeeDepartmentFormControl" placeholder="Manufacturing">
    </div>
    <div class="employee-payrate-form">
      <label for="employeePayrateFormControl">Employee Payrate</label>
      <input type="employeePayrate" class="form-control" id="employeePayrateFormControl" placeholder="15.00">
    </div>
    <button type="button" class="btn btn-primary">Update Employee</button>
  </div>
</div>
