.card-edit-employee {
  float: left;
  padding-left: 10px;
}

.employee-manager-form {
  padding: 5px;
}

.employee-department-form {
  padding: 5px 5px 10px;
}

.employee-payrate-form {
  padding: 5px;
}

input {
  margin: 1px 10px 5px;
  width: 95%;
}

label {
  margin-left: 5px;
}

button {
  margin: 10px;
}

h3 {
  margin-left: 5px;
  margin-top: 10px;
}
