<h3>Welcome to the Payroll Application</h3>
<p>In this Application a User can View, Edit, and Add Employees</p>
<p>We start off at the Home Page. We can navigate to other pages with the Nav Bar at the Top.</p>
<p>A user can either choose to go to the home page, View the Employee ID's, View the Employee Table, or to Add and Employee from the Nav Menu</p>
<p>Within the Employee ID's Section a User can select an individual Employee ID and View or Edit that specified Employee's information.</p>
<p>Within the Employee Table Section a User can view all employees in a easy to read Table format.</p>
<p>Within the Add Employee Section a User can enter all required information for a new employee and add it to the data.</p>

